.amenities-box {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 12px 12px;
}

.amenities-container {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.1);
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
  border: solid rgb(184, 184, 184) thin;
}

.amenities-container h2 {
  margin-top: 0;
}

.amenities-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid rgba(0,0,0,0.1) thin;
}

.percentage-circle {
  display: flex;
  position: relative;
  margin: 0 24px 24px 30px;
  padding: 15px;
  justify-content: space-around;
  border: solid rgb(184, 184, 184) thin;
}

.percentage-text h2 {
  margin-top: 0;
}

.percentage-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.percantage-rating {
  display: flex;
  justify-content: center;
}

.percantage-rating p {
  margin: 0 15px;
}

.percantage-rating svg {
  fill: green;
}

.rating-circle {
  display: flex;
  justify-content: space-around;
}

.landord-approval {
  margin: 12px;
  width: 90px;
}

.recommend-friend {
  margin: 12px;
  width: 90px;
}

.reviews-list-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 24px 24px;
  margin: 0 24px 24px;
  border-bottom: solid 1px lightgray;
}

.building-details {
  margin-top: 45px;
}

.building_amenities-image {
  width: 30px;
  height: 30px;
}

.building-header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  margin-top: 30px;
}

.building-details {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 12px 12px;
}

.favourite-button { 
  margin: 12px;
}


.building_header {
  max-width: 100%; 
  width: 800px;
  margin: auto;
}

.building_header {
  width: 100%;
  height: 650px;
}

.building-header-content {
  position: relative;
}

.building-header-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    color: white;
    background: linear-gradient(#ffffff00, #4e4e4e);
}
/* remove */
