.amenities-box {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 12px 12px;
}

.amenities-container {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.1);
  padding: 24px;
  position: relative;
  margin-bottom: 45px;
}

.amenities-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid rgba(0,0,0,0.1) thin;
}

.percentage-circle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.landord-approval {
  margin: 12px;
  width: 90px;
}

.recommend-friend {
  margin: 12px;
  width: 90px;
}

.reviews-list-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 24px 24px;
  margin: 0 24px 24px;
  border-bottom: solid 1px lightgray;
}

.building-details {
  margin-top: 45px;
}

.building_amenities-image {
  width: 30px;
  height: 30px;
}

.building-header {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  gap: 12px 12px;
  margin-top: 30px;
}

.building-details {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 12px 12px;
}

.favourite-button { 
  margin: 12px;
}


.building_header {
  max-width: 100%; 
  width: 800px;
  margin: auto;
}

.building_header::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}
/* remove */
